<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bid/list">Bids</a>&nbsp;|&nbsp;
			<a href="/curve/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trades</a>&nbsp;|&nbsp;
			<a href="/rule/list">Rules</a>
			<th:block th:if="${remoteRole == 'admin'}">
				&nbsp;|&nbsp;
				<a href="/user/list">Users</a>
			</th:block>
		</div>
		<div class="col-6 text-right">
			Logged in [[${remoteRole == 'admin' ? 'admin' : 'user'}]] <b th:inline="text"  class="user"> [[${remoteUser}]] </b>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Curve Point List</h2></div>
	<div class="row">
		<a href="/curve/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>CurvePointId</th>
					<th>Term</th>
					<th>Value</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curve : ${curves}">
					<td style="width: 10%" th:text="${curve.id}"></td>
					<td th:text="${curve.id}"></td>
					<td th:text="${curve.term}"></td>
					<td th:text="${curve.value}"></td>
					<td style="width: 15%" class="text-center">
						<a th:href="@{/curve/update/{id}(id=${curve.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/curve/delete/{id}(id=${curve.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>